body {
    margin: 0;
    padding: 0;
    background-image: url(/images/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.desktop-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    top: 4dvi;
    margin-right: -90rem;
    height: 90px;
}
.logo {
    height: 3.5rem;
    margin-right: 165rem;
}
.bar {
    position: absolute;
    display: flex;
    height: 0.1px;
    background-color: grey;
    width: 37rem;
    margin-left: -90rem;
}
.desktop-header nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    height: 7rem;
    width: 100vh;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} 
.desktop-header nav a, u {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif;
}
.desktop-header nav a:focus,
.desktop-header nav a:hover{ 
   color: black;
   font-weight: bold;
 }
 #active {
    color: black;
    font-weight: bold;
 }
.bar2 {
    position: absolute;
    background-color: white; 
    height: 4px;
    width: 5.5rem;
    margin-bottom: -7rem;
    margin-right: -8.2rem;
    
 }
.desktop-header nav .a1:focus::after,
.desktop-header nav .a1:hover::after{
    left: 11.2rem;
    width: 6rem;
 }
.desktop-header nav .a2:focus::after,
.desktop-header nav .a2:hover::after{
    left: 19.9rem;
    width: 10rem;
}
.desktop-header nav .a4:focus::after,
.desktop-header nav .a4:hover::after{
    left: 41.1rem;
    width: 10.5rem;
}

 .desktop-header nav a::after{
	content: "";
	pointer-events: none;
	bottom: -2px;
	left: 50%;
	position: absolute;
	width: 0%;
	height: 4px;
	background-color: white;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: width, left;
 }
 .welcome {position: absolute; font-size: 30px; color: whitesmoke; font-family: 'Josefin Sans', sans-serif; top: 17rem; left: 15rem;}
 .welcome u {color: grey;}

 .parent, .parent1, .parent2, .parent3 {
    position: relative;
    height: 44rem;
    width: 95rem;
    top: 15rem;
    left: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}
.parent1, .parent2, .parent3 {
    display: none;
}
.box1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 10rem;
    left: 1rem;
}
.box1 h2 { font-size: 3rem; color: grey; font-family: 'Josefin Sans', sans-serif; }
.box1 h1 { font-size: 4.5rem; color: whitesmoke; font-family: 'Josefin Sans', sans-serif; margin-top: -1rem; }
.box1 p {  font-size: 25px; color: whitesmoke; font-family: 'Josefin Sans', sans-serif; margin-top: -2rem;}
.box2 {
    position: absolute;
    right: 0;
}
.box2 img{
    height: 43rem;
}
.box3 {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 1.5rem;
    width: 7rem;
    top: 57rem;
    left: 25rem;
}
.circle {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#circle {
    background-color: whitesmoke;
}
#hide {
    position: relative;
    height: 44rem;
    width: 95rem;
    top: 15rem;
    left: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    animation: fade-in 2s forwards;
}
#hide1 {
    animation: fade-out 500ms forwards;
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.icons {
    position: fixed;
    display: flex; 
    flex-direction: row;
    gap: 2rem;
    top: 55.7rem;
    left: 40rem;
}
.icons button {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border: grey solid 1.5px;
    color: whitesmoke;
    font-size: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.icons button:hover {
    color: black;
    background-color: whitesmoke;
}
